<h2>Page products</h2>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>SELECTED</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        @for(product of products(); track product.id) {
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }} </td>
            <td>{{ product.price }} </td>
            <td>

                @if (product.selected) {
                <button (click)="select(product)" type="button" class="btn btn-success">Selected</button>
                } @else {
                <button (click)="select(product)" type="button" class="btn btn-danger">Not Selected</button>
                }

            </td>

            <td>
                <button (click)="deleteProduct(product)" type="button" class="btn btn-danger">Delete</button>

            </td>
        </tr>
        }
    </tbody>
</table>